fastapi==0.115.0
uvicorn[standard]==0.30.3
jinja2==3.1.4
sqlalchemy==2.0.32
psycopg[binary]==3.2.9
aiosmtplib==3.0.2
email-validator==2.2.0
python-dotenv==1.0.1
itsdangerous==2.2.0
python-multipart==0.0.9

google-api-python-client==2.147.0
google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
gspread==6.1.4

pytz==2024.2
apscheduler==3.10.4
openpyxl==3.1.5
pydantic-settings
fastapi-cache2[redis]